circle.bigcircle {
    stroke: black;
    fill: none;
}

circle.smallcircle {
    stroke: black;
    fill: none;
}

circle.smallcircle.enabled {
    fill: green;
}

circle.smallcircle.disabled {
    fill: red;
}

svg text {
    user-select: none;
}