  <nav role="navigation">
    <div class="nav-wrapper container">
      <div class="hide-on-med-and-down">
        <a target="_blank" rel="noopener noreferrer" href="https://www.iwu.fraunhofer.de/"><img src="{{ "/assets/img/iwu.gif" | relative_url }}" style="padding:5px;hegiht:56px"></a>

        {% assign default_paths = site.pages | map: "path" %}
        {% assign page_paths = site.header_pages | default: default_paths %}

        <ul class="right">
          <li><a href="{{ "/" | relative_url }}">Start</a></li>
          {% if page_paths %}
          {% for path in page_paths %}
          {% assign my_page = site.pages | where: "path", path | first %}
          {% if my_page.title %}
          <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
          {% endif %}
          {% endfor %}
          {% endif %}
          <li><a target="_blank" rel="noopener noreferrer" href="https://websites.fraunhofer.de/iwu-surveys/index.php/197925?lang=de">Umfrage</a></li>
          <!--EINKOMMENTIEREN FÜR BLOG
		  <li><a href="{{ "/articles" | relative_url }}">Artikel</a></li>-->
        </ul>
      </div>
      <div class="hide-on-large-only">
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons" style="color:#179c7d">menu</i></a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.iwu.fraunhofer.de/"><img src="{{ "/assets/img/iwu.gif" | relative_url }}" style="padding:5px;hegiht:56px" class="brand-logo center"></a>
      </div>
    </div>
  </nav>
  <ul id="slide-out" class="sidenav">

      <li><div class="user-view">
          <div class="background">
            <img width="200%" src="{{ "/assets/img/banner_1.jpg" | relative_url }}">
          </div>
          <br />
          <br />
        </div></li>
      <li><a class="waves-effect waves-light" href="{{ "/" | relative_url }}">Start</a></li>
      <li>
        <div class="divider"></div>
      </li>

      {% if page_paths %}
      {% for path in page_paths %}
      {% assign my_page = site.pages | where: "path", path | first %}
      {% if my_page.title %}
      <li><a class="waves-effect waves-light"
          href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
      {% endif %}
      {% endfor %}
      {% endif %}
	  <li><a target="_blank" rel="noopener noreferrer" href="https://websites.fraunhofer.de/iwu-surveys/index.php/197925?lang=de">Umfrage</a></li>
    </ul>

<div class="header-second">
<a href="{{ "/" | relative_url }}">{{ site.title }}</a>
</div>
