  <nav role="navigation">
    <div class="nav-wrapper container">
      <div class="hide-on-med-and-down">
        <a target="_blank" rel="noopener noreferrer" href="https://www.iwu.fraunhofer.de/"><img src="{{ "/assets/img/iwu.gif" | prepend: site.baseurl_root }}" style="padding:5px;hegiht:56px"></a>

        {% assign default_paths = site.pages | map: "path" %}
        {% assign page_paths = site.header_pages | default: default_paths %}

        <ul class="right">
          <li><a href="{{ site.baseurl }}">Start</a></li>
          {% if page_paths %}
          {% for path in page_paths %}
          {% assign my_page = site.pages | where: "path", path | first %}
          {% if my_page.title and my_page.nav %}
          <li><a href="{% tl {{my_page.namespace}} %}">{% t {{my_page.title}} %}</a></li>
          {% endif %}
          {% endfor %}
          {% endif %}
          <li><a target="_blank" rel="noopener noreferrer" href="{% t survey %}">{% t titles.survey %}</a></li>
          <!-- language toggle -->
          {% for lang in site.languageNames %}
          {% unless lang[0] == site.lang %}
          {% if page.namespace %}
          <li><a href="{% tl {{ page.namespace }} {{ lang[0] }} %}">{{ lang[1] }}</a></li>
          {% else %}
          <li><a href="{{ site.baseurl_root }}/{{ lang[0] }}/">{{ lang[1] }}</a></li>
          {% endif %}
          {% endunless %}
          {% endfor %}
          <!--EINKOMMENTIEREN FÜR BLOG
		  <li><a href="{{ "/articles" | relative_url }}">Artikel</a></li>-->
        </ul>
      </div>
      <div class="hide-on-large-only">
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons" style="color:#179c7d">menu</i></a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.iwu.fraunhofer.de/"><img src="{{ "/assets/img/iwu.gif" | prepend: site.baseurl_root }}" style="padding:5px;hegiht:56px" class="brand-logo center"></a>
      </div>
    </div>
  </nav>
  <ul id="slide-out" class="sidenav">

      <li><div class="user-view">
          <div class="background">
            <img width="200%" src="{{ "/assets/img/banner_1.jpg" | prepend: site.baseurl_root }}">
          </div>
          <br />
          <br />
        </div></li>
      <li><a class="waves-effect waves-light" href="{{ site.baseurl }}">Start</a></li>
      <li>
        <div class="divider"></div>
      </li>

      {% if page_paths %}
      {% for path in page_paths %}
      {% assign my_page = site.pages | where: "path", path | first %}
      {% if my_page.title and my_page.nav %}
      <li><a class="waves-effect waves-light"
          href="{% tl {{my_page.namespace}} %}">{% t {{my_page.title}} %}</a></li>
      {% endif %}
      {% endfor %}
      {% endif %}
	  <li><a target="_blank" rel="noopener noreferrer" href="{% t survey %}">{% t titles.survey %}</a></li>
    <!-- language toggle -->
    {% for lang in site.languageNames %}
    {% unless lang[0] == site.lang %}
    {% if page.namespace %}
    <li><a href="{% tl {{ page.namespace }} {{ lang[0] }} %}">{{ lang[1] }}</a></li>
    {% else %}
    <li><a href="{{ site.baseurl_root }}/{{ lang[0] }}/">{{ lang[1] }}</a></li>
    {% endif %}
    {% endunless %}
    {% endfor %}
  </ul>

<div class="header-second">
<a href="{{ site.baseurl }}">{% t titles.site %}</a>
</div>
