---
# this is an empty front matter that instruct jekyll
# to process this file with liquid
---

/*
 * START Materialize overrides
 */

i {
    font-size: x-large;
}

blockquote {
    border-left: 3px solid rgb(0,200,255);
    border-radius: 3px;
}

pre  {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

pre > code {
    white-space: inherit;
    border:none;
    background-color: transparent;
    padding: 0px;
    border-radius: 3px;
    line-height: initial !important;
}

code {
    color: black;
    font-family: 'Courier New', 'Courier', 'monospace';
    border: 1px solid #aaa;
    padding: 1px 5px 1px 5px;
    border-radius: 3px;
    background-color: rgba(200,200,200,0.3);
    margin-right: 2px;
    white-space: nowrap;
    line-height: initial !important;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(55,55,55,0.5);
}

.ul-md, .ul-md > li {
    list-style-type: disc !important;
    margin-left: 10px;
}

span.badge-tag {
    background-color: rgba(255,255,255,0.7);
    color: #03a9f4;
    border-radius: 3px;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

/*
 * END Materialize overrides
 */

/* meramid overrides */

svg:not(#karobau_viz_svg) {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important; /* 'Courier New', 'Courier', 'monospace'; */
}
div > .label {
    font-family: inherit !important;

}
marker > path {
    fill: #aaa !important;
}
rect:not(svg#karobau_viz_svg rect) {
    stroke: #aaa !important;
    fill: rgba(200,200,200,0.3) !important;
}

g.label:not(svg#karobau_viz_svg g) {
    color: #263238 !important;
}

g > path {
    stroke: #aaa !important;
}

/* meramid overrides - END */

.carousel-item {
    background-size: cover;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

