circle.bigcircle {
    stroke: none;
    fill: papayawhip;
}

circle.smallcircle {
    stroke: none;
}

svg text {
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

rect.tab {
    stroke: none;
}

rect.tab.active {
    fill: moccasin;
}

rect.tab.inactive {
    fill: papayawhip;
}

rect.bar_yesno {
    fill: #B2D732;
}

text.bar_yesno_label {
    fill: #00663d;
}

.hover_shadow:hover {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

text.category_active {
    font-weight:bold;
}

rect.question_category {
    fill: papayawhip;
}
