circle.bigcircle {
    stroke: none;
    fill: BlanchedAlmond;
}

circle.smallcircle {
    stroke: none;
}

svg text {
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

rect.tab {
    stroke: none;
}

rect.tab.active {
    fill: lightgreen;
}

rect.tab.inactive {
    fill: lightgray;
}

rect.bar_yesno {
    fill: limegreen;
}

text.bar_yesno_label {
    fill: white;
}