---
layout: default
---

<div id="home-carousel" class="carousel carousel-slider center">
  <div class="carousel-fixed-item center">
    <div class="carousel-buttns">
      <a id="play-btn" class="btn btn-flat white-text waves-effect waves-light"><i class="mdi mdi-play"></i></a>
      <a id="pause-btn" class="btn btn-flat white-text waves-effect waves-light"><i class="mdi mdi-pause"></i></a>
    </div>
    <div class="container">
      <a class="btn btn-large" href="{{ '/visualisierung/' | relative_url }}">Ergebnisse der Studie</a>
    </div>
  </div>

  <div id="carousel-1" class="carousel-item white-text container" href="#one!">
    <div class="hide-on-small-only">
      <div class="container claim ">
        <h2 class="typewriter"></h2>
      </div>
    </div>
  </div>
  <div id="carousel-2" class="carousel-item amber white-text" href="#two!">
    <h2></h2>
    <p class="white-text"></p>
  </div>
  <div id="carousel-3" class="carousel-item green white-text" href="#three!">
    <h2></h2>
    <p class="white-text"></p>
  </div>
</div>
</div>
</div>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h5 class="header center light">{{ content }}</h5>
  </div>
</div>


<div class="container">
  <h6></h6>
  <div class="section scrollspy" id="get-startet">
    <!--   Icon Section   -->
    <div class="row">


      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="mdi mdi-factory medium"></i></h2>
          {%- include {{ site.active_lang }}/home_01.html -%}
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="mdi mdi-car medium"></i></h2>
          {%- include {{ site.active_lang }}/home_02.html -%}
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="mdi mdi-router-wireless medium"></i></h2>
          {%- include {{ site.active_lang }}/home_03.html -%}
        </div>
      </div>
    </div>
