---
layout: default
---
<div class="container">

  {{ content }}

</div>

<center>
  <div id="bausteine-carousel" class="carousel">

    {% for data in site.data.references[site.lang] %}
    <div id="{{ data.div_id }}" class="carousel-item bausteine">
      <div class="card">
        <div class="card-image"><img src="{{ "/assets/img/bausteine/" | append: data.img  | prepend: site.baseurl_root }}"></div>
        <span class="card-title">{{ data.title }}</span>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#{{ data.about_id }}" class="active">{% t reference.about %}</a></li>
            <li class="tab"><a href="#{{ data.benefits_id }}">{% t reference.benefits %}</a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="{{ data.about_id }}">{{ data.about }}</div>
          <div id="{{ data.benefits_id }}">
            <ul>
              {% for line in data.benefits %}
              <li>• {{ line }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</center>
